body {
    background-color: skyblue;
    margin: 0 auto;
    max-width: 800px;
}

body {
    background: url('../images/background.jpg');
    background-size: cover;
}

header {
    height: 150px;
    width: 800px;
}

h1 {
    border-bottom: 4px double #2b2b2b;
}
