{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="image-container">
                <img src="{{ asset('build/images/profile.png') }}" alt="">
            </div>
            <div class="text-container">
                <h1>ABOUT ME</h1>
                <p>
                    Jag är en tjej från lilla Sandviken och studerar just nu på distans. 
                    Jag är en tyst och snäll person, som trivs med att vara kreativ. På senare tid har jag utvecklat ett stort intresse för kodning och vill gärna lära mig mer om det. 
                    Jag ser fram emot att växa både personligt och professionellt och ta mig an nya utmaningar inom detta spännande område.
                </p>
                <p>Jag har två katter, Juni och Fluli, och en hund som heter Charlie som bor hos mina föräldrar. När jag inte sitter och pluggar eller umgås med familjen, hittar du mig ofta framför datorn. Jag är en gamer at heart och spenderar mycket tid med mina vänner online.</p>
            </div>
        </div>
    </div>
{% endblock %}