{% extends 'base.html.twig' %}

{% block title %}Redovisningar{% endblock %}

{% block body %}
        <div class="two-col-layout">
            <div class="aside">
                <h2>Länk</h2>
                <ul>
                    <li><a href="#kmom01">Kmom01</a></li>
                    <li><a href="#kmom02">Kmom02</a></li>
                    <li><a href="#kmom03">Kmom03</a></li>
                </ul>
            </div>

            <div class="main">
                <h1>Redovisningar</h1>
                <div id="kmom01">
                    <h2>Kmom01</h2>
                    <p>kkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
                </div>

                <div id="kmom02">
                    <h2>Kmom02</h2>
                    <p>Kommer fyllas på med tid..</p>
                </div>

                <div id="kmom03">
                    <h2>Kmom03</h2>
                    <p>Kommer fyllas på med tid..</p>
                </div>
            </div>
        </div>
{% endblock %}